@charset "utf-8";

/*============================
=            Base            =
============================*/

body{
  margin: 0;
  padding: 0;
}

a strong {
  color: inherit;
}

hr {
  background: none;
  border: none;
  border-bottom: 1px solid #d8dee9;
}

img {
  height: auto;
  max-width: 100%;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
}

/*=====  End of Base  ======*/


/*==================================
=            Typography            =
==================================*/

body {
  color: #566b78;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
}

h1, h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
  font-weight: 500;
}

a {
  color: #e81c4f;
}

/*=====  End of Typography  ======*/


/*======================================
=            Layout styling            =
======================================*/

.wrapper, .wrapper--blockquote, .wrapper--image{
  padding:1em;
}

blockquote{
  background-color:#eaeaea;
  margin:0;
}

blockquote p{
  font-size:1.2em;
  font-style:italic;
}

blockquote footer{
  font-style:normal;
  font-size:0.8em;
}

.instruction-video, .image--full-width{
  width:100%;
}

.image--half-width{
  vertical-align:top;
  width:49%;
}

/*=====  End of Layout styling  ======*/


/*======================================
=            Responsiveness            =
======================================*/

@media (min-width: 600px) {
  .wrapper, .wrapper--blockquote, .wrapper--image{
    max-width:600px;
    margin:auto;
  }
}

/*=====  End of Responsiveness  ======*/


