---
title: New website
---
<article class="main">
  <section class="wrapper">
    <h1>New start and fresh beginnings</h1>
    <p>
      Every day a sales representative from the Asahi team travels around the states in Australia and New Zealand with stacks of folders, a laptop with pdf's saved on hard drive and mail and using notes to remember all the specific deals for each resellers.
    </p>
    <p>
      With the Asahi sales web app representatives now have one platform that contains all the information. Centally managed, all the current deals and promotions are always visible and easily shared with customers.
    </p>
  </section>
</article>