---
title: Asahi sales webapp
---
<article class="main">
  <section class="wrapper">
    <h1>Asahi sales webapp</h1>
    <p>
      Every day a sales representative from the Asahi team travels around the states in Australia and New Zealand with stacks of folders, a laptop with pdf's saved on hard drive and mail and using notes to remember all the specific deals for each resellers.
    </p>
    <p>
      With the Asahi sales web app representatives now have one platform that contains all the information. Centally managed, all the current deals and promotions are always visible and easily shared with customers.
    </p>
  </section>

  <section class="wrapper--image">
    <img class="image--half-width" src="/images/asahi-dashboard.jpg" alt="Asahi web app dashboard screenshot">
    <img class="image--half-width" src="/images/asahi-selection.jpg" alt="Asahi web app listing screenshot">
  </section>

  <section class="wrapper">
    <h2>Displaying up to date documents, even in the far outback</h2>
    <p>
      So far all digital documents where downloaded every day before leaving on their route because of the sheer size of these pdf files. The internet reception in rural Australia just isn't great enough that it can allow for these documents to be loaded only when they were needed.
    </p>
    <p>
      Our solution was to convert all pdf's to heavily compressed jpg images, page by page. All these images will be displayed as a small thumbnail and only when clicked on a higher resolution version will be displayed, still a lot smaller than the original pdf files.
    </p>
    <p>
      Heavy caching is in place for recently visited pages and files so load time for those are zero to none.
    </p>

  </section>

  <section class="wrapper--image">
    <img class="image--full-width" src="/images/asahi-document-listing.jpg" alt="Asahi web app 3 thumbnail images of a beer promotion">
  </section>

  <section class="wrapper--image">
    <img class="image--full-width" src="/images/asahi-document.jpg" alt="Asahi web app image of beer promotion shown in a overlay">
  </section>

  <section class="wrapper">
    <h2>Excel calculators v2.0</h2>
    <p>
      Originally, Asahi representatives used a calculator developed in Excel that allowed them to calculate margins and prices based on sell price and discount.
    </p>
    <p>
      We've implemented the same principle for our calculator, but this one will also allow you to use the margin/price as a starting point or as and end point.
    </p>
    <p>
      Every calculator will change it's variables based on the type of drink and quantity selected, and there are different calculators for keg and pack sales.
    </p>
  </section>

  <section class="wrapper--image">
    <img class="image--full-width" src="/images/asahi-calculator.jpg" alt="Asahi web app calculator screenshot">
  </section>

</article>