---
title: Deakin Study and Choose websites
---
<article class="main">
  <section class="wrapper">
    <h1>Deakin Study and Choose websites</h1>

    <p>
      Over a period of a year we've released multiple versions of 2 major Deakin University student orientated pages, both focused on different student types and accomodating for the needs of students based on the time of year they would visit.
    </p>

    <p>
      We've developed a Deakin online style that has been rolled out over multiple projects, including their main site <a href="http://www.deakin.edu.au/">deakin.edu.au.</a>
    </p>

    <p>
      Both websites included integration with their marketing platform, live chat platform and event manage platform.
    </p>

  </section>

  <section class="wrapper--image">
    <img class="image--half-width" src="/images/deakin-study-homepage.jpg" alt="">
    <img class="image--half-width" src="/images/deakin-choose-homepage.jpg" alt="">
  </section>

  <section class="wrapper">
    <h2>Deakin Study</h2>
    <p>
      As part of our ongoing work with Deakin University, we were briefed to create an update to the Deakin Study Microsite.
    </p>

    <p>
      The site styling included some fresh elements for the Deakin brand - including custom illustration, full screen background video and detailed textural patterns.
    </p>

    <p>
      The addition of course search and study area browsing functionality, gives students all the tools they need to source the full Deakin course database and make an informed decision on their future.
    </p>
  </section>

  <section class="wrapper--image">
    <img class="image--full-width" src="/images/deakin-study-courses.jpg" alt="">
  </section>

  <section class="wrapper">
    <h2>Deakin Choose</h2>
    <p>
      As the front end developer I developed all the visual interactions and animations for the choose of preference website of Deakin University. The website offers clear visual ways to search for information about study options, why choose deakin and important dates. 
    </p>
    <p>
      A key functionality was the ATAR calculator, where Australian students can enter their score, prefered campus and field of study and the. A natural language form makes it easier for students to get the best suited filter options.
    </p>
  </section>

  <section class="wrapper--image">
    <img class="image--full-width" src="/images/deakin-choose-atar.jpg" alt="">
  </section>

</article>