---
title: Highpoint activation
---
<article class="main">
  <section class="wrapper">
    <h1>Highpoint "unlock you style"</h1>

    <p>
      To bring Highpoint’s AW15 trends to life we launched Unlock Your Style, an innovative and fully integrated campaign that ran for two weeks. We developed a mobile first experience where customers could create their own style combinations using a carefully curated range of products from Highpoint’s leading retailers. Shoppers could scroll through hundreds of tops, bottoms, jackets and accessories, before settling on their perfect combination from the 100,000,000 available.
    </p>

    <p>
      To really bring the campaign to life, we constructed a 3m x 1.8m screen in centre, which was used to display the individual flat lays being curated in real time by customers, as well as the trending products based on popularity. The screen served as a constant reminder of the campaign for shoppers that were in centre, helping extend its reach and impact. Through the data we collected, we were also able to gain valuable insights into which items, trends and combinations the shoppers were loving.
    </p>

    <p>
      To encourage users to get involved, a Highpoint gift card was given away every hour that the competition was running. Just for entering, customers could also receive discounts from their favourite Highpoint retailers.
    </p>
  </section>

  <section class="wrapper--image">
    <img class="image--half-width" src="/images/highpoint-hero.jpg" alt="">
    <img class="image--half-width" src="/images/highpoint-hero-2.jpg" alt="">
  </section>

  <section class="wrapper">
    <h2>That’s a whole lot of images!</h2>
    <p>
      Little Creatures always had fantastic product material and we knew this website was gonna be pretty heavy when it comes to image load. Having previously worked with the turbolinks gem for Rails we decided that we could use it’s great caching option to reduce load times, especially for already visited pages. 
    </p>

    <video class="instruction-video" autoplay loop>
      <source src="/images/little-creatures-animation.mp4"
            type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
    </video>

    <p>
      Since we now had control over the various states of page loading we could clearly separate new pages and cached pages by using different animation to that page.
    </p>
  </section>

  <blockquote>
    <div class="wrapper--blockquote">
      <p>
        Get the performance benefits of a single-page application without the added complexity of a client-side JavaScript framework. Use HTML to render your views on the server side and link to pages as usual. When you follow a link, Turbolinks automatically fetches the page, swaps in its &#60;body&#62;, and merges its &#60;head&#62;, all without incurring the cost of a full page load.
      </p>
      <footer>
        According to their <a href="https://github.com/turbolinks/turbolinks">GitHub page</a>
      </footer>
    </div>
  </blockquote>

  <section class="wrapper">
    <h2>Print focused style guide</h2>
    <p>
      Prior to the development of the new website, Little Creatures updated their brand style guide to be more on brand. The style guide seemed to be heavily focused for print, with a lot of different styles in their typography. It seemed to be that one font was used, with different textures and a heavy font shadow. 
    </p>

    <img class="image--full-width" src="/images/little-creatures-font.jpg" alt="font variations of little creatures examples">

    <p>
      Using all these variations of one font would’ve really impacted load speeds, so we decided to try and replicate it using one font with CSS font shadow. This really did the trick!  
    </p>
  </section>

  <section class="wrapper">
    <h2>That’s a whole lot of images!</h2>
    <p>
      Little Creatures always had fantastic product material and we knew this website was gonna be pretty heavy when it comes to image load. Having previously worked with the turbolinks gem for Rails we decided that we could use it’s great caching option to reduce load times, especially for already visited pages. 
    </p>

    <video class="instruction-video" autoplay loop>
      <source src="/images/little-creatures-contact.mp4"
            type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
    </video>

    <p>
      Since we now had control over the various states of page loading we could clearly separate new pages and cached pages by using different animation to that page.
    </p>
  </section>

</article>