---
title: Highpoint activation
---
<article class="main">
  <section class="wrapper">
    <h1>Highpoint "unlock you style"</h1>

    <p>
      To bring Highpoint’s AW15 trends to life we launched Unlock Your Style, an innovative and fully integrated campaign that ran for two weeks. We developed a mobile first experience where customers could create their own style combinations using a carefully curated range of products from Highpoint’s leading retailers. Shoppers could scroll through hundreds of tops, bottoms, jackets and accessories, before settling on their perfect combination from the 100,000,000 available.
    </p>

    <p>
      To really bring the campaign to life, we constructed a 3m x 1.8m screen in centre, which was used to display the individual flat lays being curated in real time by customers, as well as the trending products based on popularity. The screen served as a constant reminder of the campaign for shoppers that were in centre, helping extend its reach and impact. Through the data we collected, we were also able to gain valuable insights into which items, trends and combinations the shoppers were loving.
    </p>

    <p>
      To encourage users to get involved, a Highpoint gift card was given away every hour that the competition was running. Just for entering, customers could also receive discounts from their favourite Highpoint retailers.
    </p>
  </section>

  <section class="wrapper--image">
    <img src="/images/highpoint-hero.jpg" alt="girls standing in front of a screen in a shopping mall">
  </section>

  <section class="wrapper">
    <h2>Choose your style</h2>

    <p>
      Through a responsive website users could select a combination from 5 different types of clothing, from top to bottom. When all 5 were selected users were shown a result, where their 'flatlay' would be matched with a current trend based on what items they picked. 
    </p>
    <p>
      Once submitted the user would get the possible message that they've won a prize but also that their 'flatlay' was send to a queue to be displayed on the big screen in the shopping mall. We created a small API where the big screen would continuesly ping the API for new flatlays to add to the queue. If the queue would be empty it would get a set of old entries.
    </p>
  </section>

  <section class="wrapper--image">
    <img src="/images/highpoint-hero-2.jpg" alt="hand holding an iphone with the app displayed">
  </section>

  <section class="wrapper">
    <h2>Animating on a 4k resolution</h2>
    <p>
      We knew our biggest challenge in this case would be running animations on a "web page" on a 4k resolution screen. Sure, there a better ways to solve this, but with learnings from earlier projects we knew this was possible. In total 8 different animations were developed that matched every fashion trend for that year. 
    </p>
    <p>
      All animations were tested multiple times and finetuned where needed. The majority of the animations were built upon the <a href="http://velocityjs.org/">velocity.js framework</a>, but in 2 cases a simple CSS animation was chosen.
    </p>

    <p>
      After showing 10 entries the screen would show the most popular clothing items per trend.
    </p>

    <video class="instruction-video" autoplay loop muted>
      <source src="/images/highpoint-animation.mp4"
            type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
    </video>
  </section>

  <section class="wrapper">
    <h2>The results</h2>
    <p>
      Unlock Your Style was a huge success amassing over 25,000 entries in the two week period and smashing our target by over 150%. On just day two of the campaign entries were already coming already in fast, with over 3,500 entries over the course of the day. Our activity on Facebook and other platforms helped sustain momentum and kept entries consistent throughout the duration of the competition. Users spent on average of almost 10 minutes engaging with the different options within the app.
    </p>
  </section>

</article>