---
title: My name is Steef Janssen and I'm a front end developer.
---
<header class="introduction">
  <div class="wrapper">
    <img class="profile-photo" src="https://media.licdn.com/media/AAEAAQAAAAAAAAiyAAAAJGU4ODMzY2ZjLTExYTItNGNlNy04YmQwLTk1NjYwMzgyYjZlNQ.jpg" alt="picture of Steef Janssen">
    <h1>My name is Steef Janssen <br> and I'm a front end developer.</h1>
    <p>
      I am a front-end developer for mobile and web, with a drive to create functional - and beautiful - user interfaces. Over the last 10 years I've been lucky enough to see the web evolve, while seizing the opportunity to build a whole bunch of websites and (web) apps that evolved with it.
    </p>

    <p>
      
    </p>
    <p>
      Next to being the awkward middle child of the development pipeline, you'll find me surfing the web finding new places to discover or almost poisoning myself and my loved ones with a new recipe I found online.
    </p>

  </div>

 </header> 

<section class="recent-work">
 <h2 class="heading--recent-work">Case Studies</h2>
 <div class="recent-work__wrapper">
   
   <a href="/little-creatures.html" class="recent-work__link">
    <figure class="recent-work__image">
      <img src="/images/lc-tile.jpg" alt="little creatures brewery">
      <figcaption class="recent-work__description">
        <h3 class="recent-work__heading">Little Creatures website</h3>
        <div class="recent-work__content">
          <p>
            With unique venues and events, the craft brewery deliver an unrivalled experience but they desperately needed a website to match.
          </p>
          <ul class="recent-work__skills">
            <li>turbolinks</li>
            <li>gsap</li>
            <li>bem</li>
          </ul>
        </div>
      </figcaption>
    </figure>
    </a>

    <a href="/patties.html" class="recent-work__link">
      <figure class="recent-work__image">
        <img src="/images/patties-tile.jpg" alt="toy soldiers carrying pies">
        <figcaption class="recent-work__description">
          <h3 class="recent-work__heading">Patties website</h3>
          <div class="recent-work__content">
            <p>
              An online home that allowed brands to keep their individual identities while living together on the same site.
            </p>
            <ul class="recent-work__skills">
              <li>responsive</li>
              <li>velocityjs</li>
            </ul>
          </div>
        </figcaption>
      </figure>
    </a>

    <a href="/highpoint.html" class="recent-work__link">
    <figure class="recent-work__image">
      <img src="/images/highpoint-tile.jpg" alt="big screen in shopping">
      <figcaption class="recent-work__description">
        <h3 class="recent-work__heading">Highpoint activation</h3>
        <div class="recent-work__content">
          <p>
            A 3m x 1.8m screen in centre, which was used to display the individual flat lays being curated in real time by customers, as well as the trending products based on popularity.
          </p>
          <ul class="recent-work__skills">
            <li>activation</li>
            <li>animation</li>
            <li>api</li>
          </ul>
        </div>
      </figcaption>
    </figure>
    </a>

    <a href="/deakin-study.html" class="recent-work__link">
      <figure class="recent-work__image">
        <img src="/images/deakin-study-tile.jpg" alt="girl with sunglasses staring in the distance">
        <figcaption class="recent-work__description">
          <h3 class="recent-work__heading">Deakin Study and Choose websites</h3>
          <div class="recent-work__content">
            <p>
              Communicate to current and future students, the full range of course options available at the univesity as well as developing a fresh digital style for Deakin.
            </p>
            <ul class="recent-work__skills">
              <li>SVG</li>
              <li>Google Tag Manager</li>
              <li>bem</li>
            </ul>
          </div>
        </figcaption>
      </figure>
    </a>


    <a href="/luna-new-year.html" class="recent-work__link">
      <figure class="recent-work__image">
        <img src="/images/luna-tile.jpg" alt="drawing of a monkey behind a cup">
        <figcaption class="recent-work__description">
          <h3 class="recent-work__heading">Lunar new year game</h3>
          <div class="recent-work__content">
            <p>
              A little cheeky game to celebrate the Chinese new year.
            </p>
            <ul class="recent-work__skills">
              <li>gsap</li>
              <li>responsive</li>
              <li>svg</li>
            </ul>
          </div>
        </figcaption>
      </figure>
    </a>

    <a href="/asahi.html" class="recent-work__link">
      <figure class="recent-work__image">
        <img src="/images/asahi-tile.jpg" alt="bubbles on screen">
        <figcaption class="recent-work__description">
          <h3 class="recent-work__heading">Asahi sales webapp</h3>
          <div class="recent-work__content">
            <p>
              A web based tool to replace all Asahi sellers paperwork.
            </p>
            <ul class="recent-work__skills">
              <li>turbolinks</li>
              <li>jquery</li>
            </ul>
          </div>
        </figcaption>
      </figure>
    </a>

  </div>

 </section>

 <section class="other-work">
   <h2 class="heading--recent-work">Other work</h2>
   <div class="recent-work__wrapper">
     
      <a href="http://ticgroup.com.au" class="other-work__link">
        <h3 class="other-work__heading">TIC group corporate website</h3>
      </a>

      <a href="http://openday.deakin.edu.au/" class="other-work__link">
        <h3 class="other-work__heading">Deakin University open day 2015 website</h3>
      </a>

      <a href="http://choosetap.com.au/" class="other-work__link">
        <h3 class="other-work__heading">Choose tap campaign website</h3>
      </a>

      <a href="http://connectandwin.deakin.edu.au/" class="other-work__link">
        <h3 class="other-work__heading">Deakin connect and win form</h3>
      </a>

      <a href="http://dilworthalumni.co.nz/index.html" class="other-work__link">
        <h3 class="other-work__heading">Dilworth Alumni microsite</h3>
      </a>

      <a href="http://riotstores.com.au/" class="other-work__link">
        <h3 class="other-work__heading">Riot stores website</h3>
      </a>

      <a href="https://itunes.apple.com/nl/app/tilburg-studentenstad-agenda/id547732818?mt=8" class="other-work__link">
        <h3 class="other-work__heading">Tilburg city student app</h3>
      </a>

      <a href="http://www.signips.com" class="other-work__link">
        <h3 class="other-work__heading">Signips wordpress website</h3>
      </a>

      <a href="http://www.ac-finance.nl/" class="other-work__link">
        <h3 class="other-work__heading">AC-Finance website</h3>
      </a>

    </div>
 </section>
 
 <footer></footer>
