---
title: Little Creatures website
---
<article class="main">
  <section class="wrapper">
    <h1>Little Creatures website</h1>

    <p>
      We were called in by Little Creatures to help out; with unique venues and events, the craft brewery deliver an unrivalled experience but they desperately needed a website to match.
    </p>
    <p>
      We wanted to create an end-to-end brand experience, so we worked with their team to revamp the website, focusing on the design, navigation and functionality to make sure it was best in class.
    </p>
    <p>
      The website needed to reflect ‘all of the little things’: the craft, processes and unique flavour of Little Creatures, to cater for both mainstream and hardcore beer lovers.
    </p>
  </section>

  <section class="wrapper--image">
    <img class="image--half-width" src="/images/little-creatures-geelong.jpg" alt="Little Creatures Geelong page screenshot">
    <img class="image--half-width" src="/images/little-creatures-pale-ale.jpg" alt="Little Creatures Pale Ale page screenshot">
  </section>

  <section class="wrapper">
    <h2>That’s a whole lot of images!</h2>
    <p>
      Little Creatures always had fantastic product material and we knew this website was gonna be pretty heavy when it comes to image load. Having previously worked with the turbolinks gem for Rails we decided that we could use it’s great caching option to reduce load times, especially for already visited pages. 
    </p>

    <video class="instruction-video" autoplay loop>
      <source src="/images/little-creatures-animation.mp4"
            type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
    </video>

    <p>
      Since we now had control over the various states of page loading we could clearly separate new pages and cached pages by using different animation to that page.
    </p>
  </section>

  <blockquote>
    <div class="wrapper--blockquote">
      <p>
        Get the performance benefits of a single-page application without the added complexity of a client-side JavaScript framework. Use HTML to render your views on the server side and link to pages as usual. When you follow a link, Turbolinks automatically fetches the page, swaps in its &#60;body&#62;, and merges its &#60;head&#62;, all without incurring the cost of a full page load.
      </p>
      <footer>
        According to their <a href="https://github.com/turbolinks/turbolinks">GitHub page</a>
      </footer>
    </div>
  </blockquote>

  <section class="wrapper">
    <h2>A classic case of Gutenburg</h2>
    <p>
      Prior to the development of the new website, Little Creatures updated their brand style guide to be more on brand. The style guide seemed to be heavily focused for print, with a lot of different styles in their typography. It seemed to be that one font was used, with different textures and a heavy font shadow. 
    </p>

    <img class="image--full-width" src="/images/little-creatures-font.jpg" alt="font variations of little creatures examples">

    <p>
      Using all these variations of one font would’ve really impacted load speeds, so we decided to try and replicate it using one font with CSS font shadow. This really did the trick, creating more ways to use their print font for the web while keeping load times on a low.
    </p>
  </section>

  <section class="wrapper">
    <h2>Simple and step by step contact forms</h2>
    <p>
      Little Creatures has always been a proud supporter of events, big and small. A lot of requests for 'smaller' events went through the current website, and after and endless amount of emails back and forth they had enough details to see how they can help the event.
    </p>

    <p>
      By creating a simple step by step structure and asking a couple of easy questions, we now filter the 'what and how' of an event before it goes to the marketing team.
    </p>

    <video class="instruction-video" autoplay loop>
      <source src="/images/little-creatures-contact.mp4"
            type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
    </video>

  </section>

</article>