---
title: Lunar new year game
---
<article class="main">
  <section class="wrapper">
    <h1>Let's celebrate the lunar new year</h1>

    <p>
      Chinese New Year, known in modern Chinese as the "Spring Festival", is an important Chinese festival celebrated at the turn of the traditional lunisolar Chinese calendar. 
    </p>

    <p>
      To celebrate this event, TGS asked us to set up a landing page where users could enter a competition by participating in an online "Cups and balls" game. Users would enter their birthyear and if they pick the right cup a fortune cookie would open with a message based on their year and sign.
    </p>

    <p>
      
    </p>
  </section>

  <section class="wrapper--image">
    <img class="image--full-width" src="/images/luna-1.jpg" alt="">
  </section>

  <section class="wrapper">
    <h2>SVG animation to the rescue</h2>

    <p>
      Having previously done a lot of manipulating of svg's I've realized that for this animation we should stick with implementing simple animations
    </p>


    <video class="instruction-video" autoplay loop>
      <source src="/images/luna-1.mp4"
            type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
    </video>

  </section>

  <section class="wrapper">
   <h2>How a simple game can get pretty complex</h2>

    <video class="instruction-video" autoplay loop>
      <source src="/images/luna-2.mp4"
            type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
    </video>
  </section>

  <section class="wrapper">
    <h2>Find a venue</h2>
   
  </section>

  <section class="wrapper--image">
    <img class="image--full-width" src="/images/luna-2.jpg" alt="">
  </section>

</article>