---
title: Patties corporate website
---
<article class="main">
  <section class="wrapper">
    <h1>Patties corporate website</h1>
    <p>
      Last year, Patties Foods approached us with the exciting challenge of updating their 7 year old corporate website, which included brands such as FOUR’N TWENTY, Patties, Herbert Adams, Creative Gourmet, Nanna’s and Chef’s Pride. The aim was to give each of the brands an online home that allowed them to keep their individual identities while living together on the same site.
    </p>
    <p>
      We’ve created a beautiful responsive site that gives Patties Foods a definitive presence in the digital world and represents them as the innovative, passionate, local craftsmen that they are.
    </p>
  </section>

  <section class="wrapper--image">
    <img class="image--half-width" src="/images/patties-homepage.jpg" alt="">
    <img class="image--half-width" src="/images/chefspride-homepage.jpg" alt="">
  </section>

  <section class="wrapper">
    <h2>One layout, multiple brands</h2>
    <p>
      The trick for this website was to build a layout that was suitable for every brand but still have every brand itself show it's unique distinctions. To make it even more complicated every brand not only used a different colour scheme but also a different fonts. Every developer can already think of all the nightmares that can happen combined with a CMS managed website.
    </p>
    <p>
      We've experimented a lot with different scenarios changing font sizes and types to make sure every brand manager can create beautiful banners and content that suits their brand.
    </p>
  </section>

  <section class="wrapper--image">
    <img class="image--full-width" src="/images/nannas.jpg" alt="">
  </section>

  <section class="wrapper">
    <h2>Recipe module</h2>
    <p>
      Some brands had an extensive library of recipes and Patties wanted to extend this even more for their new website. 
    </p>
    <p>
      We've updated the recipes into a new look and also madev it easy for the content team to add new recipes and change existing recipes.
    </p>
  </section>

  <section class="wrapper--image">
    <img class="image--half-width" src="/images/patties-recipe-listing.jpg" alt="">
    <img class="image--half-width" src="/images/patties-recipe.jpg" alt="">
  </section>

</article>